@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.65rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.623 0.219 149.579);
	--primary-foreground: oklch(0.982 0.018 155.826);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.623 0.219 149.579);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.623 0.219 149.579);
	--sidebar-primary-foreground: oklch(0.982 0.018 155.826);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.623 0.219 149.579);

	/* custom */
	--input-invalid: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.969 0.015 12.422);
	--foreground-destructive: oklch(0.577 0.245 27.325);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.696 0.17 162.48);
	--primary-foreground: oklch(0.393 0.095 152.535);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.527 0.154 150.069);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.696 0.17 162.48);
	--sidebar-primary-foreground: oklch(0.393 0.095 152.535);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.527 0.154 150.069);

	/* custom */
	--input-invalid: oklch(0.704 0.191 22.216);
	--destructive-foreground: oklch(0.985 0 0);
	--foreground-destructive: oklch(0.704 0.191 22.216);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-input-invalid: var(--input-invalid);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-foreground-destructive: var(--foreground-destructive);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
}

@theme {
	--text-mega: 5rem;
	--text-mega--line-height: 5.25rem;
	--text-mega--font-weight: 700;
	--text-h1: 3.5rem;
	--text-h1--line-height: 3.875rem;
	--text-h1--font-weight: 700;
	--text-h2: 2.5rem;
	--text-h2--line-height: 3rem;
	--text-h2--font-weight: 700;
	--text-h3: 2rem;
	--text-h3--line-height: 2.25rem;
	--text-h3--font-weight: 700;
	--text-h4: 1.75rem;
	--text-h4--line-height: 2.25rem;
	--text-h4--font-weight: 700;
	--text-h5: 1.5rem;
	--text-h5--line-height: 2rem;
	--text-h5--font-weight: 700;
	--text-h6: 1rem;
	--text-h6--line-height: 1.25rem;
	--text-h6--font-weight: 700;
	--text-body-2xl: 2rem;
	--text-body-2xl--line-height: 2.25rem;
	--text-body-xl: 1.75rem;
	--text-body-xl--line-height: 2.25rem;
	--text-body-lg: 1.5rem;
	--text-body-lg--line-height: 2rem;
	--text-body-md: 1.25rem;
	--text-body-md--line-height: 1.75rem;
	--text-body-sm: 1rem;
	--text-body-sm--line-height: 1.25rem;
	--text-body-xs: 0.875rem;
	--text-body-xs--line-height: 1.125rem;
	--text-body-2xs: 0.75rem;
	--text-body-2xs--line-height: 1rem;
	--text-caption: 1.125rem;
	--text-caption--line-height: 1.5rem;
	--text-caption--font-weight: 600;
	--text-button: 0.75rem;
	--text-button--line-height: 1rem;
	--text-button--font-weight: 700;
	--animate-roll-reveal: roll-reveal 0.4s cubic-bezier(0.22, 1.28, 0.54, 0.99);
	--animate-slide-left: slide-left 0.3s ease-out;
	--animate-slide-top: slide-top 0.3s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes roll-reveal {
		from {
			transform: rotate(12deg) scale(0);
			opacity: 0;
		}

		to {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}
	}

	@keyframes slide-left {
		from {
			transform: translateX(20px);
			opacity: 0;
		}

		to {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes slide-top {
		from {
			transform: translateY(20px);
			opacity: 0;
		}

		to {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}

		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;

	@media (width >=1400px) {
		& {
			max-width: 1400px;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: hsl(var(--border));
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
